<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer" title="Customers" translate="title" sortOrder="40">
                    <resource id="KW_CustomerWallet::wallet" title="Customer Wallets" translate="title" sortOrder="50">
                        <resource id="KW_CustomerWallet::wallet_list" title="View the list of wallets" translate="title" sortOrder="10" />
                        <resource id="KW_CustomerWallet::wallet_addMoney" title="Add Money to wallets" translate="title" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
