<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/config.xsd">
    <default>
        <wallet>
            <wallet>
                <enabled>0</enabled>
                <welcome_credit_enabled>0</welcome_credit_enabled>
                <welcome_credit_amount>2</welcome_credit_amount>
            </wallet>
        </wallet>
    </default>
</config>
